In [820]:
import pandas as pd

In [821]:
df = pd.read_csv('pokemon_data.csv')

In [822]:
df[['Name', 'Type 1', 'Type 2', 'HP']][0:5] # extract columns with [['...']], and get the first 4 rows (kind of like array slicing)

                    Name Type 1  Type 2  HP
0              Bulbasaur  Grass  Poison  45
1                Ivysaur  Grass  Poison  60
2               Venusaur  Grass  Poison  80
3  VenusaurMega Venusaur  Grass  Poison  80
4             Charmander   Fire     NaN  39

In [823]:
# iloc - integer-location lookup

# 0-indexed
# end parameter is excluded

df.iloc[3] # lookup row by row number (4th)
df.iloc[7:9] # lookup rows by row numbers (8th and 9th)
df.iloc[7, 3] # lookup element by coordinate (8th row, 4th column)

'Dragon'

In [824]:
for index, row in df.iterrows(): # iterate through rows (returns both index and row separately)
    print(row['Name'])

# though if you just wanted to get that column, df['Name'] would suffice

Bulbasaur
Ivysaur
Venusaur
VenusaurMega Venusaur
Charmander
Charmeleon
Charizard
CharizardMega Charizard X
CharizardMega Charizard Y
Squirtle
Wartortle
Blastoise
BlastoiseMega Blastoise
Caterpie
Metapod
Butterfree
Weedle
Kakuna
Beedrill
BeedrillMega Beedrill
Pidgey
Pidgeotto
Pidgeot
PidgeotMega Pidgeot
Rattata
Raticate
Spearow
Fearow
Ekans
Arbok
Pikachu
Raichu
Sandshrew
Sandslash
Nidoran (Female)
Nidorina
Nidoqueen
Nidoran (Male)
Nidorino
Nidoking
Clefairy
Clefable
Vulpix
Ninetales
Jigglypuff
Wigglytuff
Zubat
Golbat
Oddish
Gloom
Vileplume
Paras
Parasect
Venonat
Venomoth
Diglett
Dugtrio
Meowth
Persian
Psyduck
Golduck
Mankey
Primeape
Growlithe
Arcanine
Poliwag
Poliwhirl
Poliwrath
Abra
Kadabra
Alakazam
AlakazamMega Alakazam
Machop
Machoke
Machamp
Bellsprout
Weepinbell
Victreebel
Tentacool
Tentacruel
Geodude
Graveler
Golem
Ponyta
Rapidash
Slowpoke
Slowbro
SlowbroMega Slowbro
Magnemite
Magneton
Farfetch'd
Doduo
Dodrio
Seel
Dewgong
Grimer
Muk
Shellder
Cloyster
Gastly
Haunter
Gengar
GengarMega Gengar
Onix
Drowzee
Hypno
Krabby
Kingler
Voltorb
Electrode
Exeggcute
Exeggutor
Cubone
Marowak
Hitmonlee
Hitmonchan
Lickitung
Koffing
Weezing
Rhyhorn
Rhydon
Chansey
Tangela
Kangaskhan
KangaskhanMega Kangaskhan
Horsea
Seadra
Goldeen
Seaking
Staryu
Starmie
Mr. Mime
Scyther
Jynx
Electabuzz
Magmar
Pinsir
PinsirMega Pinsir
Tauros
Magikarp
Gyarados
GyaradosMega Gyarados
Lapras
Ditto
Eevee
Vaporeon
Jolteon
Flareon
Porygon
Omanyte
Omastar
Kabuto
Kabutops
Aerodactyl
AerodactylMega Aerodactyl
Snorlax
Articuno
Zapdos
Moltres
Dratini
Dragonair
Dragonite
Mewtwo
MewtwoMega Mewtwo X
MewtwoMega Mewtwo Y
Mew
Chikorita
Bayleef
Meganium
Cyndaquil
Quilava
Typhlosion
Totodile
Croconaw
Feraligatr
Sentret
Furret
Hoothoot
Noctowl
Ledyba
Ledian
Spinarak
Ariados
Crobat
Chinchou
Lanturn
Pichu
Cleffa
Igglybuff
Togepi
Togetic
Natu
Xatu
Mareep
Flaaffy
Ampharos
AmpharosMega Ampharos
Bellossom
Marill
Azumarill
Sudowoodo
Politoed
Hoppip
Skiploom
Jumpluff
Aipom
Sunkern
Sunflora
Yanma
Wooper
Quagsire
Espeon
Umbreon
Murkrow
Slowking
Misdreavus
Unown
Wobbuffet
Girafarig
Pineco
Forretress
Dunsparce
Gligar
Steelix
SteelixMega Steelix
Snubbull
Granbull
Qwilfish
Scizor
ScizorMega Scizor
Shuckle
Heracross
HeracrossMega Heracross
Sneasel
Teddiursa
Ursaring
Slugma
Magcargo
Swinub
Piloswine
Corsola
Remoraid
Octillery
Delibird
Mantine
Skarmory
Houndour
Houndoom
HoundoomMega Houndoom
Kingdra
Phanpy
Donphan
Porygon2
Stantler
Smeargle
Tyrogue
Hitmontop
Smoochum
Elekid
Magby
Miltank
Blissey
Raikou
Entei
Suicune
Larvitar
Pupitar
Tyranitar
TyranitarMega Tyranitar
Lugia
Ho-oh
Celebi
Treecko
Grovyle
Sceptile
SceptileMega Sceptile
Torchic
Combusken
Blaziken
BlazikenMega Blaziken
Mudkip
Marshtomp
Swampert
SwampertMega Swampert
Poochyena
Mightyena
Zigzagoon
Linoone
Wurmple
Silcoon
Beautifly
Cascoon
Dustox
Lotad
Lombre
Ludicolo
Seedot
Nuzleaf
Shiftry
Taillow
Swellow
Wingull
Pelipper
Ralts
Kirlia
Gardevoir
GardevoirMega Gardevoir
Surskit
Masquerain
Shroomish
Breloom
Slakoth
Vigoroth
Slaking
Nincada
Ninjask
Shedinja
Whismur
Loudred
Exploud
Makuhita
Hariyama
Azurill
Nosepass
Skitty
Delcatty
Sableye
SableyeMega Sableye
Mawile
MawileMega Mawile
Aron
Lairon
Aggron
AggronMega Aggron
Meditite
Medicham
MedichamMega Medicham
Electrike
Manectric
ManectricMega Manectric
Plusle
Minun
Volbeat
Illumise
Roselia
Gulpin
Swalot
Carvanha
Sharpedo
SharpedoMega Sharpedo
Wailmer
Wailord
Numel
Camerupt
CameruptMega Camerupt
Torkoal
Spoink
Grumpig
Spinda
Trapinch
Vibrava
Flygon
Cacnea
Cacturne
Swablu
Altaria
AltariaMega Altaria
Zangoose
Seviper
Lunatone
Solrock
Barboach
Whiscash
Corphish
Crawdaunt
Baltoy
Claydol
Lileep
Cradily
Anorith
Armaldo
Feebas
Milotic
Castform
Kecleon
Shuppet
Banette
BanetteMega Banette
Duskull
Dusclops
Tropius
Chimecho
Absol
AbsolMega Absol
Wynaut
Snorunt
Glalie
GlalieMega Glalie
Spheal
Sealeo
Walrein
Clamperl
Huntail
Gorebyss
Relicanth
Luvdisc
Bagon
Shelgon
Salamence
SalamenceMega Salamence
Beldum
Metang
Metagross
MetagrossMega Metagross
Regirock
Regice
Registeel
Latias
LatiasMega Latias
Latios
LatiosMega Latios
Kyogre
KyogrePrimal Kyogre
Groudon
GroudonPrimal Groudon
Rayquaza
RayquazaMega Rayquaza
Jirachi
DeoxysNormal Forme
DeoxysAttack Forme
DeoxysDefense Forme
DeoxysSpeed Forme
Turtwig
Grotle
Torterra
Chimchar
Monferno
Infernape
Piplup
Prinplup
Empoleon
Starly
Staravia
Staraptor
Bidoof
Bibarel
Kricketot
Kricketune
Shinx
Luxio
Luxray
Budew
Roserade
Cranidos
Rampardos
Shieldon
Bastiodon
Burmy
WormadamPlant Cloak
WormadamSandy Cloak
WormadamTrash Cloak
Mothim
Combee
Vespiquen
Pachirisu
Buizel
Floatzel
Cherubi
Cherrim
Shellos
Gastrodon
Ambipom
Drifloon
Drifblim
Buneary
Lopunny
LopunnyMega Lopunny
Mismagius
Honchkrow
Glameow
Purugly
Chingling
Stunky
Skuntank
Bronzor
Bronzong
Bonsly
Mime Jr.
Happiny
Chatot
Spiritomb
Gible
Gabite
Garchomp
GarchompMega Garchomp
Munchlax
Riolu
Lucario
LucarioMega Lucario
Hippopotas
Hippowdon
Skorupi
Drapion
Croagunk
Toxicroak
Carnivine
Finneon
Lumineon
Mantyke
Snover
Abomasnow
AbomasnowMega Abomasnow
Weavile
Magnezone
Lickilicky
Rhyperior
Tangrowth
Electivire
Magmortar
Togekiss
Yanmega
Leafeon
Glaceon
Gliscor
Mamoswine
Porygon-Z
Gallade
GalladeMega Gallade
Probopass
Dusknoir
Froslass
Rotom
RotomHeat Rotom
RotomWash Rotom
RotomFrost Rotom
RotomFan Rotom
RotomMow Rotom
Uxie
Mesprit
Azelf
Dialga
Palkia
Heatran
Regigigas
GiratinaAltered Forme
GiratinaOrigin Forme
Cresselia
Phione
Manaphy
Darkrai
ShayminLand Forme
ShayminSky Forme
Arceus
Victini
Snivy
Servine
Serperior
Tepig
Pignite
Emboar
Oshawott
Dewott
Samurott
Patrat
Watchog
Lillipup
Herdier
Stoutland
Purrloin
Liepard
Pansage
Simisage
Pansear
Simisear
Panpour
Simipour
Munna
Musharna
Pidove
Tranquill
Unfezant
Blitzle
Zebstrika
Roggenrola
Boldore
Gigalith
Woobat
Swoobat
Drilbur
Excadrill
Audino
AudinoMega Audino
Timburr
Gurdurr
Conkeldurr
Tympole
Palpitoad
Seismitoad
Throh
Sawk
Sewaddle
Swadloon
Leavanny
Venipede
Whirlipede
Scolipede
Cottonee
Whimsicott
Petilil
Lilligant
Basculin
Sandile
Krokorok
Krookodile
Darumaka
DarmanitanStandard Mode
DarmanitanZen Mode
Maractus
Dwebble
Crustle
Scraggy
Scrafty
Sigilyph
Yamask
Cofagrigus
Tirtouga
Carracosta
Archen
Archeops
Trubbish
Garbodor
Zorua
Zoroark
Minccino
Cinccino
Gothita
Gothorita
Gothitelle
Solosis
Duosion
Reuniclus
Ducklett
Swanna
Vanillite
Vanillish
Vanilluxe
Deerling
Sawsbuck
Emolga
Karrablast
Escavalier
Foongus
Amoonguss
Frillish
Jellicent
Alomomola
Joltik
Galvantula
Ferroseed
Ferrothorn
Klink
Klang
Klinklang
Tynamo
Eelektrik
Eelektross
Elgyem
Beheeyem
Litwick
Lampent
Chandelure
Axew
Fraxure
Haxorus
Cubchoo
Beartic
Cryogonal
Shelmet
Accelgor
Stunfisk
Mienfoo
Mienshao
Druddigon
Golett
Golurk
Pawniard
Bisharp
Bouffalant
Rufflet
Braviary
Vullaby
Mandibuzz
Heatmor
Durant
Deino
Zweilous
Hydreigon
Larvesta
Volcarona
Cobalion
Terrakion
Virizion
TornadusIncarnate Forme
TornadusTherian Forme
ThundurusIncarnate Forme
ThundurusTherian Forme
Reshiram
Zekrom
LandorusIncarnate Forme
LandorusTherian Forme
Kyurem
KyuremBlack Kyurem
KyuremWhite Kyurem
KeldeoOrdinary Forme
KeldeoResolute Forme
MeloettaAria Forme
MeloettaPirouette Forme
Genesect
Chespin
Quilladin
Chesnaught
Fennekin
Braixen
Delphox
Froakie
Frogadier
Greninja
Bunnelby
Diggersby
Fletchling
Fletchinder
Talonflame
Scatterbug
Spewpa
Vivillon
Litleo
Pyroar
Flabébé
Floette
Florges
Skiddo
Gogoat
Pancham
Pangoro
Furfrou
Espurr
MeowsticMale
MeowsticFemale
Honedge
Doublade
AegislashBlade Forme
AegislashShield Forme
Spritzee
Aromatisse
Swirlix
Slurpuff
Inkay
Malamar
Binacle
Barbaracle
Skrelp
Dragalge
Clauncher
Clawitzer
Helioptile
Heliolisk
Tyrunt
Tyrantrum
Amaura
Aurorus
Sylveon
Hawlucha
Dedenne
Carbink
Goomy
Sliggoo
Goodra
Klefki
Phantump
Trevenant
PumpkabooAverage Size
PumpkabooSmall Size
PumpkabooLarge Size
PumpkabooSuper Size
GourgeistAverage Size
GourgeistSmall Size
GourgeistLarge Size
GourgeistSuper Size
Bergmite
Avalugg
Noibat
Noivern
Xerneas
Yveltal
Zygarde50% Forme
Diancie
DiancieMega Diancie
HoopaHoopa Confined
HoopaHoopa Unbound
Volcanion

In [825]:
# loc - label-based lookup,look up rows according to a conditional
df.loc[(df['Type 1'] == "Grass") & ((df['Type 2'] == "Poison") | (df['Type 2'] == "Fighting"))]
df.loc[~(df['Name'].str.contains('Mega') | (df['Name'].str.contains('%')))] # get rows which aren't "mega" or "%"
# note in pandas: and is represented by &, or is represented by |, not is represented by ~

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [826]:
df.loc[df['Type 1'] == 'Fire', 'Type 2'] = 'Flamer' # conditional reassignment! Making type 2 for all fire type 1s "flamer"
df.loc[df['HP'] > 50, ['Generation','Legendary']] = ['Test 1', 'Test 2'] # multiple conditional reassignment setting rows with HP > 50 to have new Generation and Legendary Values

/var/folders/80/qjcx023s5dsfl5g98wkn22yc0000gn/T/ipykernel_18158/2913393111.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Test 1' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['HP'] > 50, ['Generation','Legendary']] = ['Test 1', 'Test 2'] # multiple conditional reassignment setting rows with HP > 50 to have new Generation and Legendary Values
/var/folders/80/qjcx023s5dsfl5g98wkn22yc0000gn/T/ipykernel_18158/2913393111.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Test 2' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  df.loc[df['HP'] > 50, ['Generation','Legendary']] = ['Test 1', 'Test 2'] # multiple conditional reassignment setting rows with HP > 50 to have new Generation and Legendary Values

In [827]:
df.describe() # get some general per row stats

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000

In [828]:
df.sort_values(['Type 1', 'HP'], ascending=[1,0]) # Sorts by Type 1 ascending first, and then by HP descending

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,Test 1,Test 2
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,Test 1,Test 2
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,Test 1,Test 2
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,Test 1,Test 2
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,Test 1,Test 2
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

In [829]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed'] # New column as the sum of the others

In [830]:
df = df.drop(columns=['#']) # get rid of the # columm

In [831]:
df['Total'] = df.iloc[:, 3:9].sum(axis=1) # sum the 4th-8th columns of every row horizontally

In [832]:
cols = list(df.columns)
df = df[['Type 1','HP', 'Total', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']] # selecting and re-ordering columns, you could also do cols[0:4] + [cols[-1]] + cols[4:12] instead of the [names] but then if something changes the columns earlier things will break

In [833]:
df.reset_index(drop=True, inplace=True) # if you removed rows and have jumps in your indices now and want to rest, you do it like this - drop = True means the old indices are not kept as a new column, as happens by default

In [834]:
df.groupby (['Type 1']).mean().sort_values('Defense', ascending=False) # see the mean of the values for each Type 1 type, and sort by Defense to see the most defensive type

,HP,Total,Attack,Defense,Sp. Atk,Sp. Def,Speed
Type 1,,,,,,,
Steel,65.222222,487.703704,92.703704,126.370370,67.518519,80.629630,55.259259
Rock,65.363636,453.750000,92.863636,100.795455,63.340909,75.477273,55.909091
Dragon,83.312500,550.531250,112.125000,86.375000,96.843750,88.843750,83.031250
Ground,73.781250,437.500000,95.750000,84.843750,56.468750,62.750000,63.906250
Ghost,64.437500,439.562500,73.781250,81.187500,79.343750,76.468750,64.343750
Water,72.062500,430.455357,74.151786,72.946429,74.812500,70.517857,65.964286
Ice,72.000000,433.458333,72.750000,71.416667,77.541667,76.291667,63.458333
Grass,67.271429,421.142857,73.214286,70.800000,77.500000,70.428571,61.928571
Bug,56.884058,378.927536,70.971014,70.724638,53.869565,64.797101,61.681159
Dark,66.806452,445.741935,88.387097,70.225806,74.645161,69.516129,76.161290
Poison,67.250000,399.142857,74.678571,68.821429,60.428571,64.392857,63.571429
Fire,69.903846,458.076923,84.769231,67.769231,88.980769,72.211538,74.442308
Psychic,70.631579,475.947368,71.456140,67.684211,98.403509,86.280702,81.491228
Electric,59.795455,443.409091,69.090909,66.295455,90.022727,73.704545,84.500000
Flying,70.750000,485.000000,78.750000,66.250000,94.250000,72.500000,102.500000
Fighting,69.851852,416.444444,96.777778,65.925926,53.111111,64.703704,66.074074
Fairy,74.117647,413.176471,61.529412,65.705882,78.529412,84.705882,48.588235
Normal,77.275510,401.683673,73.469388,59.846939,55.816327,63.724490,71.551020

In [835]:
df.groupby(['Type 1']).count() # groups by Type 1 and counts occurrences, replacing row values with the count

# groupby combined with other methods like count(), sum(), mean(), std() etc. is a useful way of getting subset statistics

           HP  Total  Attack  Defense  Sp. Atk  Sp. Def  Speed
Type 1
Bug        69     69      69       69       69       69     69
Dark       31     31      31       31       31       31     31
Dragon     32     32      32       32       32       32     32
Electric   44     44      44       44       44       44     44
Fairy      17     17      17       17       17       17     17
Fighting   27     27      27       27       27       27     27
Fire       52     52      52       52       52       52     52
Flying      4      4       4        4        4        4      4
Ghost      32     32      32       32       32       32     32
Grass      70     70      70       70       70       70     70
Ground     32     32      32       32       32       32     32
Ice        24     24      24       24       24       24     24
Normal     98     98      98       98       98       98     98
Poison     28     28      28       28       28       28     28
Psychic    57     57      57       57       57       57     57
Rock       44     44      44       44       44       44     44
Steel      27     27      27       27       27       27     27
Water     112    112     112      112      112      112    112

In [836]:
df['count'] = 1
df.groupby(['Type 1']).count()['count'] # counts occurrences of each type in a cleaner way, adding a count column to hold it, and then filtering for it after count

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

In [837]:
df.to_csv('modified.csv', index=False) # export to CSV, without the indexes